apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: default
  labels:
    app: backend
    component: web
spec:
  type: NodePort
  ports:
  - port: 3000
    targetPort: 3000
    nodePort: 30080  # Port externe (30000-32767)
    protocol: TCP
    name: http
  selector:
    app: backend

